

*{ margin:0; padding:0; }
select{ font:16px Arial;}
body { font:16px Arial;
	     position:fixed;
       top:150px;
       left:400px;
       right:400px;
       bottom:150px;
       text-align:center;
       display:flex;
       align-items:center;
       justify-content:center;
       border: 1px solid red;
       background: #f0f0f0;
      }
body > div { max-width:65%; }
button { font:16px Arial; font-weight:bold; border:none; background:#473C8B;
	color:#fff; margin:15px; padding:5px 25px; cursor:pointer; border-radius:15px; }
h1 {color: #473C8B; font-size:18px; line-height:60px;  font-weight:bold;}
#logo {	width:45px;	height:45px;}
