

*{ margin:0; padding:0; }
select{ font:16px Arial; option: 16px Arial }
body { font:16px Arial;
			 padding-left: 150px;
			 padding-right: 150px;
			 padding-top: 100px;
			 padding-bottom: 100px;
       top:100px;
       left:300px;
       right:300px;
       bottom:100px;
       text-align:center;

       align-items:center;
       justify-content:center;
       border: 1px solid red;
       background: #f0f0f0;
      }

button { font:16px Arial; font-weight:bold; border:none; background:#473C8B;
	color:#fff; margin:15px; padding:5px 25px; cursor:pointer; border-radius:15px; }
h1 {color: #473C8B; font-size:18px; line-height:60px;  font-weight:bold;}
#logo {	width:45px;	height:45px;}
#accordion {
	align-content: center;
	padding: 2.2em 2.2em;
	border-top: 15px;
	border-bottom: 15px;
	overflow: auto;
}
